@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700|Pacifico&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");

@import url("components/card.css");



body {
	font-family: 'Josefin Slab', serif;
	font-size: 25px;
	margin: 0px;
	text-align: center;
}

h2,h3 {
	font-family: 'Josefin Slab', serif;
	font-size: 35px;
    font-weight: bold;
    text-align: center;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
	text-align: center;

}

a {
text-decoration: none;
}